<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<div layout:fragment="content">
    <main>
        <div class="container mt-3">
            <div class="container-fluid">
                <!-- Page Heading -->
                <h1 class="text-center h3 mb-2 text-gray-800 mt-4">게시판</h1>
                <div class="card shadow mb-4 mt-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr class="text-center">
                                    <th>번호</th>
                                    <th>이름</th>
                                    <th>제목</th>
                                    <th>날짜</th>
                                    <th>히트</th>
                                    <th class="text-center">댓글,업데이트,삭제</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr class="text-center" th:each="board : ${boards}">
                                    <td>[[${board.bid}]]</td>
                                    <td>[[${board.bname}]]</td>
                                    <td>
                                        <th:block  th:if="${board.bindent} > 0" th:each="num: ${#numbers.sequence(1,board.bindent)}">[Re]</th:block>
                                        <a class="a-title" th:value="${board.bid}" th:href="@{/board/content_view(bid=${board.bid})}">[[${board.btitle}]]</a>
                                    </td>
                                    <td>[[${board.bdate}]]</td>
                                    <td>[[${board.bhit}]]</td>

                                    <td>
                                        <button th:value="${board.bid}" class="btn btn-success btn-reply">댓글</button>
                                        <button th:value="${board.bid}" class="btn btn-success btn-delete">삭제</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
<!--                        페이징 부분-->
                        <div class="d-flex justify-content-center">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    <li th:if="${pageMaker.pre}" class="page-item">
                                        <a th:href="@{/board/list(pageNum=${pageMaker.startPage-1},amount=${pageMaker.cri.amount})}"> <button class="page-link"  aria-label="Next" ><<</button></a>
                                    </li>

                                    <li class="page-item" th:each="page: ${#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}">
<!--                                        <button class="page-link"><a th:text="${page}" th:href="@{/board/list(pageNum=${page},amount=${pageMaker.cri.amount})} > </a>  </button>-->
                                        <a th:href="@{/board/list(pageNum=${page},amount=${pageMaker.cri.amount})}" ><button th:text="${page}"  class="page-link">  </button></a>
                                    </li>

                                    <li class="page-item" th:if="${ pageMaker.next && pageMaker.endPage > 0}" >
                                        <a th:href="@{/board/list(pageNum=${pageMaker.endPage+1},amount=${pageMaker.cri.amount})}"> <button class="page-link"  aria-label="Next" >&raquo;</button></a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <hr />
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">글쓰기</button>
                            <!-- 모달 스타트 -->
                            <div class="modal fade" ref="writeModal" id="exampleModal" tabindex="-1"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-sl modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">글쓰기</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            <br/>
                                        </div>
                                        <div class="modal-body">
                                            <div class="mb-3">
                                                <label for="board-name" class="col-form-label">작성자:</label>
                                                <input id="board-name" type="text" class="form-control"/>
                                            </div>
                                            <div class="mb-3">
                                                <label for="board-title" class="col-form-label">제목:</label>
                                                <input id="board-title" type="text" class="form-control"/>
                                            </div>
                                            <div class="mb-3">
                                                <label for="board-content" class="col-form-label">내용:</label>
                                                <textarea id="board-content" class="form-control" rows="8"></textarea>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button id="btn-send" type="button" class="btn btn-primary" data-bs-dismiss="modal">전송
                                            </button>
                                            <button id="btn-cancel" type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 모달 엔드 -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </main>
    <script>

        $(document).ready(function(){

            $(document).on("click","#btn-send",function(){
                console.log($(this).attr("id"));

                let board = {
                        bname: $("#board-name").val(),
                        bcontent: $("#board-content").val(),
                        btitle: $("#board-title").val()
                 };

                console.log(board);
                boardService.add(board,function(){
                    $(location).attr('href','/board/list');
                });
            });

             $(document).on("click",".btn-delete",function(){
                console.log($(this).val());

                boardService.del($(this).val(),function(){
                    $(location).attr('href','/board/list');
                });
            });

             $(document).on("click",".btn-reply",function(){
                let path = '/board/reply_view/'+ $(this).val()
                $(location).attr('href',path);
             });


<!--            $(document).on("click",".a-title",function(event){-->
<!--                event.preventDefault();-->

<!--                let modal = bootstrap.Modal.getOrCreateInstance(document.getElementById('exampleModal')) // Returns a Bootstrap modal instance-->
<!--                // Show or hide:-->
<!--                modal.show();-->
<!--            });-->

        });
    </script>

</div>